.blog-content p{
    font-size: 17px;
    margin-bottom: 1.6rem;
    line-height: 160%;
    font-family: 'Noto Sans JP', sans-serif;
}

.blog-content h1{
    font-size: 36px;
    font-weight: bold;
    margin: 2rem 0;
}

.blog-content .blog-title {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.blog-content h2{
    font-size: 28px;
    font-weight: bold;
    margin: 2rem 0;
}

.blog-content .blog-timestamp {
    margin-bottom: 20px;
}

.blog-timestamp time{
    font-size: 16px;
    color: dimgray;
}

.blog-content .blog-tag {
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 4px;
    font-weight: bold;
    color: dimgray;
}

.blog-content a {
    text-decoration: none;
}

.blog-content blockquote{
    margin-left: 10px;
    box-shadow: rgb(61, 61, 61) 2px 0 0 0 inset;
    padding-left: 10px;
}

.blog-content blockquote p{
    color:rgb(100, 100, 100)
}