.blog-list {
    margin-top: 32px;
}

.blog-list p{
    margin-bottom: 0px;
}

.blog-link {
    color: black;
    text-decoration: none;
}

.blog-link:hover {
    color: dimgray;
}

.blog-item {
    margin-bottom: 32px;
}