.post-list {
    margin-top: 32px;
}

.post-list p{
    margin-bottom: 0px;
}

.post-link {
    color: black;
    text-decoration: none;
}

.post-link:hover {
    color: dimgray;
}

.post-item {
    margin-bottom: 32px;
}