@model Web.Models.ViewModels.IndexViewModel;

@{
    ViewData["Title"] = "Home Page";
}

<div class="blog-list">
@foreach (var summary in Model.Summaries)
{
    <h1><a class="blog-link" href="blog/@summary.Id">@summary.Title</a></h1>
    <p>@string.Join(", ", summary.Tags)</p>
}
</div>