@section Header
{
    <link href="https://fonts.googleapis.com/css2?family=Zen+Antique+Soft&display=swap" rel="stylesheet"> 
    <link href="~/css/scoped/aboutme.css" rel="stylesheet" />
}

@{
    ViewData["Title"] = "AboutMe";
}

<div class="eye-catch">
    <span class="name">Anteccq</span>
</div>

<div class="self-introduction">
    <h1>I LOVE C#</h1>
</div>

<div class="social">
    <span class="social-link">
        <a href="https://github.com/Anteccq">
            <img src="/images/github.png" alt="Anteccq GitHub"/>
        </a>
    </span>
    <span class="social-link">
        <a href="https://twitter.com/Anteccq">
            <img src="/images/twitter.png" alt="Anteccq Twitter"/>
        </a>
    </span>
</div>