@section Header
{
    <meta property="og:type"        content="website" />
    <meta property="og:url"         content="https://www.anteccq.net/aboutme" />
    <meta name="description" content="Anteccq - AboutMe">
    <meta property="og:title"       content="Anteccq - KOTONOHA">
    <meta property="og:description" content="AboutMe" />

    <link href="https://fonts.googleapis.com/css2?family=Zen+Antique+Soft&display=swap" rel="stylesheet"> 
    <link href="~/css/scoped/aboutme.css" rel="stylesheet" />
}

@{
    ViewData["Title"] = "AboutMe";
}

<div class="eye-catch">
    <span class="name">Anteccq</span>
</div>

<div class="self-introduction">
    <h1>I LOVE C#</h1>
</div>

<div class="social">
    <span class="social-link">
        <a href="https://github.com/Anteccq">
            <img src="/images/github.png" alt="Anteccq GitHub"/>
        </a>
    </span>
    <span class="social-link">
        <a href="https://twitter.com/Anteccq">
            <img src="/images/twitter.png" alt="Anteccq Twitter"/>
        </a>
    </span>
</div>